*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 200px;
    height: 300px;
}

.card{
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card figure{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.card .front{
    background-color: brown;
    color: aliceblue;
    text-align: center;
}

.card .back{
    color: aliceblue;
    background-color: rgb(207, 204, 0);
    transform: rotateY(180deg);
}

.back button{
    border: none;
    background:rgb(24, 24, 22);
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
}